
[features]
    # Feature flags are various boolean properties as defined in go/lib/env/features.go

[logging]
    [logging.file]
        # Location of the logging file. If not specified, logging to file is disabled.
        Path = "/var/log/scion/sig4.log"

        # File logging level. (trace|debug|info|warn|error|crit) (default debug)
        Level = "debug"

        # Max size of log file in MiB. (default 50)
        Size = 50

        # Max age of log file in days. (default 7)
        MaxAge = 7

        # Maximum number of log files to retain. (default 10)
        MaxBackups = 10

        # How frequently to flush to the log file, in seconds. If 0, all messages
        # are immediately flushed. If negative, messages are never flushed
        # automatically. (default 5)
        FlushInterval = 5

    [logging.console]
        # Console logging level (trace|debug|info|warn|error|crit) (default crit)
        Level = "crit"

[metrics]
    # The address to export prometheus metrics on (host:port or ip:port or :port).
    # If not set, metrics are not exported. (default "")
    Prometheus = ""

[sd_client]
    # The Sciond path. (default sciond.DefaultSCIONDPath)
    Path = "/run/shm/sciond/default.sock"

    # Maximum time spent attempting to connect to sciond on start. (default 20s)
    InitialConnectPeriod = "20s"

[sig]
    # ID of the SIG. (required)
    ID = "sig4"

    # The SIG config json file. (required)
    SIGConfig = "/etc/scion/sig/sig.json"

    # The local IA. (required)
    IA = "1-ff00:0:113"

    # The bind IP address. (required)
    IP = "192.0.2.100"

    # Control data port, e.g. keepalives. (default 30256)
    CtrlPort = 30256

    # Encapsulation data port. (default 30056)
    EncapPort = 30056

    # SCION dispatcher path. (default "")
    Dispatcher = ""

    # Name of TUN device to create. (default DefaultTunName)
    Tun = "sig"

    # Id of the routing table. (default 11)
    TunRTableId = 11
