{{define "video"}} {{template "header" .}}

<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<!-- TODO: API update <script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script> -->
<link
 href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
 rel="stylesheet">


<link href='https://fonts.googleapis.com/css?family=Nobile:700,400'
 rel='stylesheet' type='text/css'>

<link
 href='https://fonts.googleapis.com/css?family=Gafata|Open+Sans:300'
 rel='stylesheet' type='text/css'>

<style>
video {
 width: 320px;
 height: 240px;
 background-color: #ddd;
 border-radius: 7px;
 margin: 10px 0px 0px 10px;
}

button {
 margin: 5px 0px 0px 10px !important;
 width: 654px;
}

.video-container {
 width: 320px;
 height: 240px;
 position: relative;
}

.video-line {
 display: inline;
}

.overlay-desc {
 background: rgba(0, 0, 0, 0);
 position: absolute;
 top: 0;
 left: 0;
 width: 320px;
 height: 240px;
 margin: 10px 10px 10px 10px;
}

.overlay-text {
 color: white;
}
</style>


<div class="content">

 <div id='as-error'></div>

 <h2>SCIONLab Video</h2>
 WIP testing for WebRTC -- DANGER! -- There be dragons here.

 <div id="videoFrame">

  <div class="video-line">

   <div class="video-container">
    <video id="yourVideo" autoplay muted>
    </video>
    <div class="overlay-desc">
     <p id="yourIaText" class="overlay-text"></p>
     <p id="yourVar1" class="overlay-text"></p>
     <p id="yourVar2" class="overlay-text"></p>
     <p id="yourVar3" class="overlay-text"></p>
    </div>
   </div>

   <div class="video-container">
    <video id="friendsVideo" autoplay></video>
    <div class="overlay-desc">
     <p id="friendsIaText" class="overlay-text"></p>
     <p id="friendsVar1" class="overlay-text"></p>
     <p id="friendsVar2" class="overlay-text"></p>
     <p id="friendsVar3" class="overlay-text"></p>
    </div>
   </div>

  </div>

  <br />
  <button onclick="showFriendsFace()" type="button"
   class="btn btn-primary btn-lg">
   <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
   Call
  </button>

  <div class="stdout">
   <div id="videoout"></div>
  </div>

 </div>

 <script type="text/javascript">

   window.onload = function(event) {
       $("#videoout").empty();
       debugLog("Loaded page");
       showMyIa(yourIa);
       ajaxConfig();
   };

   function debugLog(msg) {
        console.log(msg);
        $("#videoout").append("\n"+msg+".");
    }

    function ajaxConfig() {
        return $.ajax({
            url : 'config',
            type : 'get',
            dataType : "json",
            timeout : 30000,
            success : isRTCConfigComplete,
            error : function(jqXHR, textStatus, errorThrown) {
                debugLog(this.url + ' ' + textStatus + ': ' + errorThrown);
            },
        });
    }

    // App's Firebase configuration
    var firebaseConfig = {
        authDomain: "wip-scion-webrtc.firebaseapp.com",
        databaseURL: "https://wip-scion-webrtc.firebaseio.com",
        projectId: "wip-scion-webrtc",
        storageBucket: "wip-scion-webrtc.appspot.com",
    };

    var servers = {
            'iceServers' : [ {
                'urls' : 'stun:stun.services.mozilla.com'
            }, {
                'urls' : 'stun:stun.l.google.com:19302'
            } ]
        };
    var pc = new RTCPeerConnection(servers);
    var yourVideo = document.getElementById("yourVideo");
    var friendsVideo = document.getElementById("friendsVideo");
    var yourId = Math.floor(Math.random() * 1000000000);
    var yourIa = {{.MyIA}};
    var database;


    function isRTCConfigComplete(data, textStatus, jqXHR) {
        debugLog(this.url + ' ' + textStatus );
        debugLog('firebaseConfig.apiKey = ' + data.webrtc_apiKey);
        debugLog('firebaseConfig.messagingSenderId = ' + data.webrtc_messagingSenderId);
        debugLog('firebaseConfig.appId = ' + data.webrtc_appId);

        firebaseConfig.apiKey = data.webrtc_apiKey;
        firebaseConfig.messagingSenderId = data.webrtc_messagingSenderId;
        firebaseConfig.appId = data.webrtc_appId;
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        database = firebase.database().ref();

        pc.onicecandidate = (event => event.candidate?sendMessage(yourId, JSON.stringify({'ice': event.candidate})):console.log("Sent All Ice") );
        pc.onaddstream = (event => friendsVideo.srcObject = event.stream);

        database.on('child_added', readMessage);

        // when load finished...
        showMyFace();
    }

    function sendMessage(senderId, data) {
        debugLog("Called sendMessage()");
        var msg = database.push({
            sender : senderId,
            ia : {{.MyIA}},
            message : data
        });
        msg.remove();
        updateAddrs();
    }

    function readMessage(data) {
        debugLog("Called readMessage()");
        var msg = JSON.parse(data.val().message);
        var sender = data.val().sender;
        if (sender != yourId) {
            var friendsIa = data.val().ia;
            showPeerIa(friendsIa);
            if (msg.ice != undefined){
                pc.addIceCandidate(new RTCIceCandidate(msg.ice));
            } else if (msg.sdp.type == "offer") {
                pc.setRemoteDescription(new RTCSessionDescription(msg.sdp))
                 .then(() => pc.createAnswer())
                 .then(answer => pc.setLocalDescription(answer))
                 .then(() => sendMessage(yourId, JSON.stringify({'sdp': pc.localDescription})));
            } else if (msg.sdp.type == "answer") {
                pc.setRemoteDescription(new RTCSessionDescription(msg.sdp));
            }
        }
        updateAddrs();
    };

    function updateAddrs() {
        if (pc.currentLocalDescription){
            showMyAddr(getSdpAddr(pc.currentLocalDescription.sdp));
            showMyAudio(getSdpAudio(pc.currentLocalDescription.sdp));
            showMyVideo(getSdpVideo(pc.currentLocalDescription.sdp));
        }
        if (pc.currentRemoteDescription){
            showPeerAddr(getSdpAddr(pc.currentRemoteDescription.sdp));
            showPeerAudio(getSdpAudio(pc.currentRemoteDescription.sdp));
            showPeerVideo(getSdpVideo(pc.currentRemoteDescription.sdp));
        }
    }

    function showMyFace() {
        debugLog("Called showMyFace()");
        navigator.mediaDevices.getUserMedia({audio:true, video:true})
         .then(stream => yourVideo.srcObject = stream)
         .then(stream => pc.addStream(stream));
    }

    function showFriendsFace() {
        debugLog("Called showFriendsFace()");
        pc.createOffer()
              .then(offer => pc.setLocalDescription(offer) )
              .then(() => sendMessage(yourId, JSON.stringify({'sdp': pc.localDescription})) );
    }

    function showMyIa(ia) {
        debugLog("yourIaText: " + ia);
        $("#yourIaText").html(ia);
    }

    function showPeerIa(ia) {
        debugLog("friendsIaText: " + ia);
        $("#friendsIaText").html(ia);
    }

    function showMyAddr(addr) {
        debugLog("yourVar1: " + addr);
        $("#yourVar1").html(addr);
    }

    function showPeerAddr(addr) {
        debugLog("friendsVar1: " + addr);
        $("#friendsVar1").html(addr);
    }

    function showMyAudio(addr) {
        debugLog("yourVar2: " + addr);
        $("#yourVar2").html(addr);
    }

    function showPeerAudio(addr) {
        debugLog("friendsVar2: " + addr);
        $("#friendsVar2").html(addr);
    }

    function showMyVideo(addr) {
        debugLog("yourVar3: " + addr);
        $("#yourVar3").html(addr);
    }

    function showPeerVideo(addr) {
        debugLog("friendsVar3: " + addr);
        $("#friendsVar3").html(addr);
    }

    function getSdpAddr(sdp) {
       var ips=[];
       console.error(sdp)
       if (sdp){
          ips = sdp.split('\r\n').filter(function(line){
              return line.indexOf('c=') === 0;
          }).map(function(ipstr){
              return ipstr.match(/[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}/)[0];
          });
       }
       return ips[0];
    }

    function getSdpAudio(sdp) {
        var ips=[];
        console.error(sdp)
        if (sdp){
           ips = sdp.split('\r\n').filter(function(line){
               return line.indexOf('m=audio') === 0;
           });
        }
        return ips[0];
     }

    function getSdpVideo(sdp) {
       var ips=[];
       console.error(sdp)
       if (sdp){
          ips = sdp.split('\r\n').filter(function(line){
              return line.indexOf('m=video') === 0;
          });
       }
       return ips[0];
    }


 </script>

 {{template "footer" .}} {{end}}
